<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd"
        >

    <!-- bean definitions here -->
<bean id="userDao" class="com.ioc.UserDaoImpl"></bean>
<bean id="userService" class="com.ioc.UserServiceImpl" >
<property name="userdao" ref="userDao" />
</bean>

<bean id="bean1" class="com.instance.Bean1"></bean>
<bean id="bean2" class="com.instance.MyBean2Factory" factory-method="createBean"></bean>

<bean id="myBean3Factory" class="com.instance.MyBean3Factory"></bean>
<bean id="bean3" factory-bean="myBean3Factory" factory-method="createBean"></bean>

<bean id="scope" class="com.scope.Scope" scope="singleton"></bean>
<bean id="scope2" class="com.scope.Scope" scope ="prototype"></bean>

<bean id="user1" class="com.assemble.User">
	<constructor-arg index="0" value="tom"></constructor-arg>
	<constructor-arg index="1" value="123456"></constructor-arg>
	<constructor-arg index="2">
		<list>
			<value>"constructorvalue1"</value>
			<value>"constructorvalue2"</value>
		</list>
	</constructor-arg>
</bean>

<bean id="user2" class="com.assemble.User">
	<property name="username" value="jerry"></property>
	<property name="password" value="654321"></property>
	<property name="list">
		<list>
			<value>"setlistvalue1"</value>
			<value>"setlistvalue2"</value>
		</list>
	</property>
</bean>

<bean id="userDao1" class="com.annotation.UserDaoImpl"></bean>
<bean id="userService1" class="com.annotation.UserServiceImpl"></bean>
<bean id="userController" class="com.annotation.UserController"></bean>
<context:component-scan base-package="com.annotation"></context:component-scan>
</beans>